body {
    background-color: #F4C066;
}
 h1, footer, p {
    text-align: center;
 }

h1 {
     font-family: "Coral Pixels", sans-serif, Arial;
}
 img {
     width: 250px;     
     height: 270px;
     display: block;
     margin: auto;
     border-radius: 5px;

 }